-#  This file is app/views/users/index.html.haml
%h1 All Users

%table#users
  %thead
    %tr
      %th Used_Id
      %th Email
      %th Session_Token
      %th Timestamps
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_id 
        %td= user.email
        %td= user.session_token
        %td= user.timestamps

= link_to 'Add new user', new_user_path