-# in app/views/users/show.html.haml

%h2 Details about #{@user.email}

%ul#details
  %li
    User_Id:
    = @user.user_id
  %li
    Email:
    = @user.email
  %li
    Session_Token:
    = @user.session_token
  %li
    Timestamps:
    = @user.timestamps

%h3 Description:

%p#description= @user.session_token

= link_to 'Edit', edit_user_path(@user)
= link_to 'Back to user list', users_path